.base-calc--root {
    color: #333;
    font-family: monospace;
}

.base-calc--output {
    font-size: 60px;
}

.base-calc--sum {
    font-size: 15px;
}

.base-calc--select {
    display: block;
    margin-bottom: 2em;
}

.base-calc--input-container {
    display: flex;
}

.base-calc--field {
    border: 1px solid #333;
    color: #333;
    font-family: monospace;
    font-size: 60px;
    line-height: 1.6em;
    text-align: center;
    width: 1em;
}

.base-calc--input {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}

.base-calc--label,
.base-calc--input p {
    font-size: 15px;
    text-align: center;
}
