.base-calc--root {
    background: #eff4f1;
    border-radius: 10px;
    border: 1px solid #00e6b8;
    color: #335157;
    font-family: monospace;
    margin: 2em 0;
    padding: 20px;
}

.base-calc--characters-label {
    display: block;
}

.base-calc--characters {
    font-size: 30px;
    letter-spacing: 0.5em;
    margin-bottom: 2em;
    padding: 5px 10px;
    width: 100%;
}

.base-calc--base-header {
    color: #335157;
    font-family: monospace;
    font-size: 1.2em;
    margin-top: 0;
}

.base-calc--output {
    font-size: 35px;
    margin-bottom: 0;
    text-align: center;
}

.base-calc--sum {
    color: #378e83;
    font-size: 18px;
    text-align: center;
}

.base-calc--select {
    display: block;
    margin-bottom: 2em;
}

.base-calc--input-container {
    display: flex;
    justify-content: center;
}

.base-calc--field {
    color: #335157;
    font-family: monospace;
    font-size: 32px;
    line-height: 1.6em;
    text-align: center;
    width: 1.5em;
}

.base-calc--field.base-calc--highlight {
    outline-color: #ff306a;
}

.base-calc--highlight {
    color: #ff306a;
}

.base-calc--multiplier {
    font-weight: bold;
    margin-bottom: 5px;
}

.base-calc--value {
    display: none;
}

.base-calc--no-wrap {
    display: inline-block;
}

.base-calc--input {
    flex-grow: 1;
    text-align: center;
}

.base-calc--label,
.base-calc--input p {
    font-size: 16px;
    text-align: center;
}

.base-calc--dictionary {
    columns: 2 auto;
    padding-left: 0;
}

.base-calc--dictionary li {
    list-style: none;
}

.base-calc--dictionary-header {
    border-top: 1px solid #00e6b8;
    color: #378e83;
    font-family: monospace;
    padding-top: 1em;
}

@media only screen and (min-width: 992px) {
    .base-calc--value {
        display: block;
    }

    .base-calc--field {
        font-size: 45px;
    }

    .base-calc--dictionary {
        columns: 3 auto;
    }
}

@media only screen and (min-width: 1200px) {
    .base-calc--label,
    .base-calc--input p {
        font-size: 18px;
    }

    .base-calc--field {
        font-size: 60px;
    }

    .base-calc--input {
        margin: 0 15px;
    }

    .base-calc--output {
        font-size: 60px;
    }
}
